[Unit]
Description=Blackdog Screen Saver
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/blackdog
ExecStart=/opt/blackdog/venv/bin/python -m blackdog.sources.screensaver --art_dir /opt/blackdog/images --capture 1 --rotate 60 --daily_dir
Restart=on-failure
Environment=VIRTUAL_ENV=/opt/blackdog/venv
Environment=PATH=$VIRTUAL_ENV/bin:$PATH

[Install]
WantedBy=multi-user.target
