[Unit]
Description=Blackdog MPD Agent
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/blackdog
ExecStart=/opt/blackdog/venv/bin/python -m blackdog.sources.mpd
Restart=on-failure
Environment=VIRTUAL_ENV=/opt/blackdog/venv
Environment=PATH=$VIRTUAL_ENV/bin:$PATH

[Install]
WantedBy=multi-user.target
